body {
    margin: 0;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, white 0%, white 50%, #69414C 50%, #69414C 100%);
}

p {
    color: black;
    font-family: "Tiny5";
    font-size: 20px;
}

a {
  text-decoration: none; /* no underline */
}

a:visited {
  text-decoration: none; /* no underline */
}

a:hover {
  text-decoration: none; /* no underline */
}

.button-1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #69414C;
    border: 5px double white;
}

.button-2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #69414C;
  border: 5px double white;
}

.button-1 p, .button-2 p {
    color: white;
}

.snake, .snakeb {
    height: 200px;
    width: 240px;
    position: absolute;
    top: 18.9%;
    left: 65%;
}

.snake {
    animation: aggressive-shake 0.2s 1 alternate;
}

.hover .snakeb {
    display: none;
    animation: aggressive-shake 0.2s 1 alternate;
    z-index: 99;
}

.hover:hover .snakeb {
    display: inline;
}

.hover:hover .snake {
    display: none;
}

@keyframes aggressive-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px); /* Increased horizontal displacement */
  }
  50% {
    transform: translateX(5px); /* Increased horizontal displacement */
  }
  75% {
    transform: translateX(-3px); /* Slightly less displacement for variation */
  }
  100% {
    transform: translateX(3px); /* Slightly less displacement for variation */
  }
}