body {
    text-align: center;
}

p {
    color: black;
    font-family: "Tiny5";
    font-size: 20px;
}

a {
  text-decoration: none; /* no underline */
}

a:visited {
  text-decoration: none; /* no underline */
}

a:hover {
  text-decoration: none; /* no underline */
}

.button-1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #863264;
    border: 5px double white;
}

.button-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: #863264;
  border: 5px double white;
}

.button-1 p, .button-2 p {
    color: white;
}

.dawg {
    position: absolute;
    top: 25%;
    width: 20%;
}

.dawgb {
    position: absolute;
    top: 25%;
    width: 20%;
}

#d1 {
    left: 10%;
}

#d2 {
    left: 30%;
    filter: hue-rotate(60deg);
}

#d3 {
    left: 50%;
    filter: hue-rotate(120deg);
}

#d4 {
    left: 70%;
    filter: hue-rotate(180deg);
}

.hover .dawgb {
    display: none;
    animation: aggressive-shake 0.2s 1 alternate;
    z-index: 99;
}

.hover:hover .dawgb {
    display: inline;
}

.hover:hover .dawg {
    display: none;
}

@keyframes aggressive-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px); /* Increased horizontal displacement */
  }
  50% {
    transform: translateX(5px); /* Increased horizontal displacement */
  }
  75% {
    transform: translateX(-3px); /* Slightly less displacement for variation */
  }
  100% {
    transform: translateX(3px); /* Slightly less displacement for variation */
  }
}