body {
    text-align: center;
}

p {
    color: black;
    font-family: "Tiny5";
    font-size: 20px;
}

a {
  text-decoration: none; /* no underline */
}

a:visited {
  text-decoration: none; /* no underline */
}

a:hover {
  text-decoration: none; /* no underline */
}

.button-1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #b86511;
    border: 5px solid white;
}

.button-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: #b86511;
  border: 5px solid white;
}

.button-1 p, .button-2 p {
    color: white;
}

.scramble {
  position: absolute;
  background-color: #fffb86;
  border: 5px solid #b86511;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  top: 35%;
}

.scramble p{
    font-size: 30px;
    font-weight: bold;
}

#s1 {
    left: 10%;
}

#s2 {
    left: 20%;
}

#s3 {
    left: 30%;
}

#s4 {
    left: 40%;
}

#s5 {
    left: 50%;
}

#s6 {
    left: 60%;
}

#s7 {
    left: 70%;
}

#s8 {
    left: 80%;
}